<div>
	<table width="100%">
		<% for (var i=0;i < quizes.length; i++) { %>
			<tr>
				<td width="50%"><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
				<td width="25%"><a href=""><button>Editar</button></a></td>
				<td width="25%">
					<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
						<button type="submit" onclick="return confirm('¿Borrar pregunta <%= quizes[i].pregunta %>?')">Borrar</button>
					</form>
				</td>
			</tr>
		<% } %>
	</table>
	<br/>
	<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
</div>
<form method="get" action="/quizes">
	<p>Buscar preguntas que contengan:</p>
	<input type="text" name="search" />
	<input type="submit" value="Buscar" />
</form>
